<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="initial-scale=1">
    <title>WoW Classic Formula</title>

    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/popup.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/popup.css">

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/style.css">

    <script type="text/javascript" src="/wowclassicformula.js"></script>
</head>
<body onload="window.wcf = new WowClassicFormula();">

<div id="specs" class="ui mini horizontal list" style="width:100%; text-align: center"></div>
<div class="ui hidden divider"></div>
<div id="patch" class="ui fluid search selection multiple dropdown">
    <input type="hidden" name="patch" value="1.0.0,1.3.0,1.4.0,1.5.0,1.6.0,1.7.0,1.8.0,1.9.0,1.10.0,1.11.0">
    <div class="default text">Pick Patches...</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        <div class="item" data-value="1.0.0">
            1.0.0 Launch
        </div>
        <div class="item" data-value="1.3.0">
            1.3.0 Dire Maul
        </div>
        <div class="item" data-value="1.4.0">
            1.4.0 Elemental Invasion
        </div>
        <div class="item" data-value="1.6.0">
            1.6.0 BWL
        </div>
        <div class="item" data-value="1.7.0">
            1.7.0 ZG
        </div>
        <div class="item" data-value="1.8.0">
            1.8.0 Dragons / Silithid
        </div>
        <div class="item" data-value="1.9.0">
            1.9.0 AQ
        </div>
        <div class="item" data-value="1.10.0">
            1.10.0 Tier ½
        </div>
        <div class="item" data-value="1.11.0">
            1.11.0 Naxx
        </div>
    </div>
</div>
<div id="location" class="ui fluid search selection multiple dropdown">
    <input type="hidden" name="location" value="Crafted,Lords,Dukes,Templars,BRD,Mara,STRAT,SCHOLO,UBRS,ST,LBRS,BOE,DM,DME,DMN,DMW,Rep,ZG,MC,ONY,BWL,Quest">
    <div class="default text">Pick Locations...</div>
    <i class="dropdown icon"></i>
    <div class="menu">
        {% for location in locations %}
        <div class="item" data-value="{{ location }}">
            {{ location }}
        </div>
        {% endfor %}
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui styled accordion fluid">
    <div class="title">
        <i class="dropdown icon"></i>
        Advanced
    </div>
    <div class="content">
        <form id="form" class="ui form" onsubmit="return false;">

            {% for key, value in attributes %}
            <h6 class="ui dividing header no-margin">{{ key }}</h6>
            <div class="ui mini horizontal list">
                {% for attribute in value %}
                <div class="item">
                    <div class="content">
                        <div class="header">{{ attribute|spacify|title }}</div>
                        <input class="width-pico item_attribute" id="i_{{ attribute }}" type="text" name="attr_{{ attribute }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="ui divider"></div>
            <div class="ui horizontal list">
                <div class="item width-small">
                    <div id="class" class="ui fluid search selection dropdown">
                        <input type="hidden" name="class">
                        <div class="default text">Pick Class...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for class in classes %}
                                <div class="item" data-value="{{ class }}">
                                    <img alt="ico" class="ui mini rounded image" src="//wow.zamimg.com/images/wow/icons/large/classicon_{{ class|lower }}.jpg">
                                    {{ class }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="item">
                    <button onclick="window.wcf.submitPressed(event);" class="ui primary button">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="ui divider"></div>

<div id="content" class="ui grid"></div>
</body>
</html>