<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="initial-scale=1">
    <title>WoW Classic Formula</title>

    <script src="//code.jquery.com/jquery-3.3.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/popup.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/popup.css">

    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/style.css">

    <script type="text/javascript" src="/wowclassicformula.js"></script>
</head>
<body onload="window.wcf = new WowClassicFormula();">

<div class="ui horizontal list">
    <div class="item">
        <div class="ui icon circular button" onclick="wcf.specPressed(event);" data-content="Holy Priest" data-position="bottom center">
            <img class="ui rounded image" title="Holy Priest" class="ui width-zepto circular image" src="//wow.zamimg.com/images/wow/icons/large/inv_staff_30.jpg">
        </div>

    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui styled accordion fluid">
    <div class="title">
        <i class="dropdown icon"></i>
        Advanced
    </div>
    <div class="content">
        <form id="form" class="ui form" onsubmit="return false;">

            {% for key, value in attributes %}
            <h6 class="ui dividing header no-margin">{{ key }}</h6>
            <div class="ui mini horizontal list">
                {% for attribute in value %}
                <div class="item">
                    <div class="content">
                        <div class="header">{{ attribute|spacify|title }}</div>
                        <input class="width-pico" id="i_{{ attribute }}" type="text" name="attr_{{ attribute }}">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="ui divider"></div>
            <div class="ui horizontal list">
                <div class="item width-small">
                    <div id="class" class="ui fluid search selection dropdown">
                        <input type="hidden" name="class">
                        <div class="default text">Pick Class...</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for class in classes %}
                                <div class="item" data-value="{{ class }}">
                                    <img alt="ico" class="ui mini rounded image" src="//wow.zamimg.com/images/wow/icons/large/classicon_{{ class|lower }}.jpg">
                                    {{ class }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="item">
                    <button onclick="window.wcf.submitPressed(event);" class="ui primary button">
                        Submit
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<div class="ui divider"></div>

<div id="content" class="ui grid"></div>
<script>
    $('.dropdown').dropdown();
    $('.accordion').accordion();
    $('.button').popup();
</script>
</body>
</html>